* {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
}

.plants {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.plants li {
  display: grid;
  gap: 2px;
  border: 1px lightgray solid;
  padding: 5px;
}

.plantImage {
  font-size: 60pt;
  justify-self: center;
}

.cart {
  list-style-type: none;
  width: 100%;
}

.cart li {
  padding: 3px;
  border-bottom: 1px lightgrey solid;
}

span {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

span p {
  justify-self: center;
}
